.elis2_book_tr {border:#666666 1px solid;}
.elis2_book_td_1 {width:20%;text-align:center;background:#ccccff}
.elis2_book_td_2 {width:20%;text-align:center;background:#ffffcc;}
.elies_book_title{font-weight: bold;}

.elies_manage_book_link {
    float: left;
    left: 10px;
    position: relative;
    z-index: 10;
}

.elies_add_book_link {
    float: right;
    position: relative;
    z-index: 10;
}

.elis_journal_td{
	border-right:#666666 1px solid;
	text-align:center;
	width:190px;
	height:60px;
}

.elis2_block_book_display{
	padding:10px;
}